{% extends 'cleanblog/_layout/post.html.twig' %}

{% block title %}{{ post.getTitle() }}{% endblock %}

{% block content %}

<!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.getContent()|raw }}
          </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto postfooter">
                <span class="tag-links">Tagged with
                    {% for tag in post.getTags() %}
                        <a href="#" rel="category tag">{{ tag.getName() }}</a>
                        {% if not loop.last %}
                            &nbsp;·&nbsp;
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
      </div>
    </article>

{% endblock %}
