<div id="nav">
    <ul>
        <li class="icon">
            <a href="#">
                <i class="fas fa-bars fa-2x"></i>
            </a>
        </li>

        <li>
            <a href="{{ path('papirus_index') }}">Home</a>
        </li>

        <li>
            <a href="{{ path('papirus_posts') }}">Posts</a>
        </li>

        <li>
            <a href="{{ path('papirus_page', {'slug': "about-me"}) }}">About</a>
        </li>

    </ul>
</div>
